{% extends 'base.html' %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/jokes.css')}}">
<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet"> 
{% endblock %}
<!-- content block -->
{% block content %}
   <div class=" col-md-10 col-md-offset-1 col-sm-12">
      <h3>Pickup-lines</h3>
      <blockquote>
Every time I see you, I have to admit that rest of us are more uglier than I thought.
</blockquote>
       <a class="btn btn-primary text-center text-danger " href="/pickup/new-line/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Post a Pitch</a>
       <hr>
  </div>
  <div class=" col-md-10 col-md-offset-1 col-sm-12">
            {% for line in lines%}
            <p>{{line.content}}</p>
            <a class="btn btn-primary text-center text-danger" href="/view-line/{{line.id}}">View Comments</a>
              <a class="btn btn-primary text-center text-danger" href="/comment-lines/{{line.id}}">Comment</a>
             <hr>
          {% endfor %}
            </div>
       
{% endblock %}